<!-- INCLUDE overall_header.html -->
	<table width="100%"><tr>
	<!-- IF $FLY_RIGHT_MENU -->	
		<td width="190px" valign=top>
		<!-- INCLUDE overall_right_menu.html -->
		</td>
		<td width="0.1%">&nbsp;</td>
	<!-- ENDIF -->	
	<td width="100%" style="float: {S_CONTENT_FLOW_BEGIN}">
<br clear=all/>
		<div class="navbar" id="faqlinks">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist">
				<li><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}"><strong>{L_FAQ_EXPLAIN}</strong></a>&nbsp;&bull;</li>
				<li><a href="{U_FAQ}?mode=bbcode" title="{L_BBCODE_GUIDE}"><strong>{L_BBCODE_GUIDE}</strong></a></li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<h2>{L_FAQ_TITLE}</h2>

<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="column1">
		<!-- BEGIN faq_block -->
			<!-- IF faq_block.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq_block.S_ROW_COUNT == 4) -->
				</div>

				<div class="column2">
			<!-- ENDIF -->

			<dl class="faq">
				<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
				<!-- BEGIN faq_row -->
					<dd>
						<a href="#" onclick="if(document.getElementById('{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}').style.display=='none') document.getElementById('{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}').style.display='block'; else document.getElementById('{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}').style.display='none'; return false;" title="{faq_block.faq_row.FAQ_QUESTION}">{faq_block.faq_row.FAQ_QUESTION}</a>
					</dd>
	
						<dd class="panel faq_row <!-- IF faq_block.faq_row.S_ROW_COUNT is odd -->bg3<!-- ELSE -->bg3<!-- ENDIF -->" id="{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}" align="left" style="display: none; cursor: hand; width=50%;">
							<!-- <hr class="dashed" /> -->
							{faq_block.faq_row.FAQ_ANSWER}
							<br />
						</dd>
				<!-- END faq_row -->
			</dl>
		<!-- END faq_block -->
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="clear"></div>
<a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a>

<!-- INCLUDE jumpbox.html -->
	</td>
	</tr></table>
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
