		<h2></h2>
		<div class="panel archive"><span class="corners-top"><span></span></span>
			<div class="archive_block">{L_NEWS_CAT}</div>
			
			<div class="archive_row">
				<strong>{L_FAQ}</strong><br>
				<div>
					&nbsp;&nbsp;&nbsp;&nbsp;<a class="left news-archive" href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">General</a><br>
					&nbsp;&nbsp;&nbsp;&nbsp;<a class="left news-archive" href="{U_FAQ}?mode=bbcode" title="BBCode">BBCode</a><br>
					&nbsp;&nbsp;&nbsp;&nbsp;<a class="left news-archive" href="{U_FAQ}?mode=skype" title="Skype">Skype</a>
				</div>
			</div>
			<div class="archive_row-last"><a class="left news-archive" href="{U_NEWS}" title="{L_NEWS}"><strong>{L_NEWS}</strong></a></div>
		<span class="corners-bottom"><span></span></span></div>


<?php
/*




*/
?>