<form id="postform" action="{S_ADD_A_ACTION}" method="post" name="postform">
		<div class="panel" id="qr_editor_div">
			<div class="inner"><span class="corners-top"><span></span></span>
					<h2><!-- IF TEXT -->{L_UFAQ_EDIT}<!-- ELSEIF REPLY -->{L_UFAQ_ADD_ANSWER}<!-- ELSE -->{L_UFAQ_ADD_QUEST}<!-- ENDIF --></h2>
					<fieldset class="fields1">
						<!-- IF not REPLY -->
						<dl>
							<!-- IF S_CHOOSE_CAT -->
								<dl>
									<dt><label for="cat">{L_UFAQ_CAT}:</label></dt>
									<dd>{S_CAT_MOD}</dd>
								</dl>							
							<!-- ENDIF -->
						<dl>
							<dt><label for="subject">{L_UFAQ_SUBJ}:</label></dt>
							<dd><input type="text" name="subj" size="60" maxlength="64" value="{Q_SUBJ}" class="inputbox autowidth" /></dd>
						</dl>
							<!-- IF WATCHING_USE -->
							<dl>
								<dt><label for="watch">{L_NOTIFY_REPLY}:</label></dt>
								<dd><input type="checkbox" name="watch" value="1" <!-- IF Q_WATCH -->checked="checked" <!-- ENDIF -->/></dd>
							</dl>
							<!-- ENDIF -->
						<!-- ENDIF -->

					<!-- IF not S_IS_BOT -->
						<!-- IF ADD_QUEST or not S_USER_LOGGED_IN -->
							<dl>
								<dt><label for="subj_author"><!-- IF not S_USER_LOGGED_IN -->{L_USER_NAME_ABS}<!-- ELSE -->{L_USER_NAME}<!-- ENDIF -->:</label></dt>
								<dd><input type="text" name="subj_author" class="inputbox autowidth" size="60" maxlength="32" <!-- IF S_USER_LOGGED_IN -->placeholder<!-- ELSE -->value<!-- ENDIF -->="<!-- IF Q_QUESTNAME -->{Q_QUESTNAME}<!-- ELSE -->{L_GUEST}<!-- ENDIF -->"/></dd>
							</dl>
						<!-- ENDIF -->
						<!-- IF S_USER_LOGGED_IN and ADD_QUEST -->
							<dl>
								<dt><label for="authorhide">{L_USER_SECORITE}:</label></dt>
								<dd><input type="checkbox" name="authorhide" value="1" <!-- IF Q_HIDENICK -->checked="checked" <!-- ENDIF -->/></dd>
							</dl>						
						<!-- ENDIF -->
					<!-- ENDIF -->

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->

					<!-- INCLUDE posting_buttons.html -->
					<div id="smiley-box">
						<strong>{L_SMILIES}</strong><br />
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- IF S_SHOW_SMILEY_LINK-->
						<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
					</div>
					<div id="message-box">
						<textarea style="height: 9em;" name="message" rows="<!-- IF not REPLY -->12<!-- ELSE -->7<!-- ENDIF -->" cols="76" class="inputbox">{TEXT}</textarea>
					</div>
					</fieldset>
					<fieldset class="submit-buttons">
						<input type="submit" name="post" value="{L_SUBMIT}" class="button1" />&nbsp;
						<input name="reset" type="reset" id="reset" value="{L_RESET}" class="button2" />&nbsp;
					</fieldset>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	</form>