		<h2></h2>
		<div class="panel archive"><span class="corners-top"><span></span></span>
			<div class="archive_block">{L_MENU}</div>

			<div class="archive_row-last">
				<a class="left news-archive" href="{U_INDEX}" accesskey="h"><strong>{L_INDEX}</strong></a><br />
				<a class="left news-archive" href="{U_NEWS}" title="{L_NEWS}"><strong>{L_NEWS}</strong></a><br />
				<a class="left news-archive" href="{U_UFAQ}" title="{L_UFAQ}"><strong>{L_UFAQ}</strong></a><br />
					<div>
						<div>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{U_UFAQ_FSEARCH_TOP}" title="{L_UFAQ_SEARCH_TOP}">{L_UFAQ_SEARCH_TOP}</a><br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{U_UFAQ_FSEARCH_NEW}" title="{L_UFAQ_SEARCH_NEW}">{L_UFAQ_SEARCH_NEW}</a><br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{U_UFAQ_FSEARCH_ANSWERED}" title="{L_UFAQ_SEARCH_ANSWERED}">{L_UFAQ_SEARCH_ANSWERED}</a><br>
						</div>
					</div>
			
			</div>

			<div class="archive_row">
				<strong>{L_TYPE}</strong><br>
				<div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="">Link</a><br>
				</div>
			</div>

		<span class="corners-bottom"><span></span></span></div>


<?php
/*




*/
?>