<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[<!-- IF U_ACP -->&nbsp;<a href="{U_ACP}" target="_blank">{L_ACP}</a>,&nbsp;<!-- ENDIF -->&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

	<table width="100%"><tr>
	<!-- IF $FLY_RIGHT_MENU -->
		<td width="190px" valign=top>
		<!-- INCLUDE overall_right_menu.html -->
		</td>
		<td width="0.1%">&nbsp;</td>	
	<!-- ENDIF -->
	<td width="100%" style="float: {S_CONTENT_FLOW_BEGIN}">

<!-- IF UFAQ_ENABLE -->

					<script language="javascript" type="text/javascript">
						function showCat(){
								var select = document.getElementById('mod_selector');
								var name = select.options[select.selectedIndex].value;
								//alert('Будет выполнено действие "' + name + '"');
								if (name == "move")
								{
									document.getElementById("cat_selector").style.display="block";
								}
								else
								{
									document.getElementById("cat_selector").style.display="none";
								}
								return;
						}
					</script>
	
<!-- IF S_INDEX -->
<br clear="all" />
		<ul class="linklist">
			<li class="rlefttside">&nbsp;<a href="{U_FSEARCH_TOP}">{L_UFAQ_SEARCH_TOP}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_NEW}">{L_UFAQ_SEARCH_NEW}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_ANSWERED}">{L_UFAQ_SEARCH_ANSWERED}</a></li>
		</ul>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt style="width: 46%;">{L_UFAQ_CAT}</dt>
						<dd class="topics" width="5%">{L_UFAQ_COUNT}</dd>
						<dd class="lastpost" style="width: 42%;"><span>{L_UFAQ_LAST_Q}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
<!-- BEGIN cats -->
		<li class="row">
			<dl>
				<dt style="width: 46%;"><!-- IF cats.CAT_IMG --><div style="float: left; padding-right: 5px;"><img src="{cats.CAT_IMG}" alt="{cats.TITLE}" /></div><!-- ENDIF --><a class="forumtitle" href="{cats.U_CAT}">{cats.TITLE}</a></dt>
					<dd class="topics" width="5%">{cats.COUNT}</dd>
					<dd class="lastpost" style="width: 42%;"><span><!-- IF cats.LAST_Q --><a href="{cats.U_LAST_Q}" title="{cats.QUESTION_TEXT}">{cats.LAST_Q}</a>
					<span>
					
					<!-- IF cats.QUESTOR_HIDENICK or cats.QUESTOR_FAKENICK -->
						<!-- IF cats.VIEW_RIGHTS -->
							({cats.QUESTER_USER})
						<!-- ENDIF -->
						{cats.QUESTOR_FAKENICK}
					<!-- ELSE -->
						{cats.QUESTER_USER}
					<!-- ENDIF -->
					
 &raquo; {cats.QUESTER_TIME}
					
					<!-- IF cats.ANSWERS > 0 -->
						( {L_UFAQ_ANSWERS}: {cats.ANSWERS} &raquo;
						<!-- IF not S_IS_BOT --><a href="{cats.U_LAST_Q}#{cats.ANSWER_ID}" title="{cats.ANSWER_TEXT}"><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/></a><!-- ELSE --><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/><!-- ENDIF -->
						)
					<!-- ENDIF -->
					
					</span><!-- ELSE -->{L_UFAQ_EMPTY_CAT}<!-- ENDIF --></span></dd>
			</dl>
		</li>
<!-- BEGINELSE -->
		<li class="row">
			<dl class="icon">
				<dt>{L_UFAQ_EMPTY_CAT}</dt>
			</dl>
		</li>
<!-- END cats -->
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ELSEIF S_LIST_Q -->
<br clear="all" />
<!-- IF not S_IS_BOT -->
		<div class="search-box">
			<form method="post" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny"  type="text" name="search" size="30" value="<!-- IF HIDDEN -->{HIDDEN}<!-- ELSE -->{L_SEARCH}<!-- ENDIF -->"<!-- IF not HIDDEN --> onclick="if(this.value=='{L_SEARCH}')this.value='';" onblur="if(this.value=='')this.value='{L_SEARCH}';"<!-- ENDIF --> />
				<input class="button2" type="submit" value="{L_SEARCH}" />
			</fieldset>
			</form>
		</div>
<!-- ENDIF -->

		<ul class="linklist">
			<li class="leftside">&nbsp;<a href="{U_FSEARCH_TOP}">{L_UFAQ_SEARCH_TOP}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_NEW}">{L_UFAQ_SEARCH_NEW}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_ANSWERED}">{L_UFAQ_SEARCH_ANSWERED}</a></li>
			<li class="rightside">
				<div class="pagination">		
					<!-- IF PAGE_NUMBER > 0 --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
				</div>			
			</li>
		</ul>

		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd class="pic"><!-- IF CAT_IMG --><span class="ufaq"><img src="{CAT_IMG}"/></span>&nbsp;&raquo;&nbsp;<!-- ELSE -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- ENDIF --></dd>
						<dt style="width: 35%;"><!-- IF PARENT -->{PARENT}<!-- ELSE --><!-- IF SEARCH -->{L_UFAQ_CAT} &raquo; <!-- ENDIF -->{L_UFAQ_NAME}<!-- ENDIF --></dt>
						<!-- IF RATING_USE --><dd class="topics"><!-- IF U_SORT_RATING --><a href="{U_SORT_RATING}"><!-- ENDIF -->{L_UFAQ_RATING}<!-- IF U_SORT_RATING --></a><!-- ENDIF --></dd><!-- ENDIF -->
						<dd class="views">{L_UFAQ_VIEWS}</dd>
						<dd class="posts"><!-- IF U_SORT_ANSWERS --><a href="{U_SORT_ANSWERS}"><!-- ENDIF -->{L_UFAQ_ANSWERS}<!-- IF U_SORT_ANSWERS --></a><!-- ENDIF --></dd>
						<dd class="lastpost" style="width: 25%;"><span>{L_UFAQ_LAST_A}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
<!-- BEGIN q -->
		<li class="row<!-- IF q.S_MODE == 0 --><!-- IF q.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- ELSE --> ufaq_bg_mod<!-- ENDIF -->">
			<dl>
				<dd class="pic">&nbsp;
				<!-- IF q.S_MODE == 9 --><img title="{L_UFAQ_MOD_CLOSED}" src="{T_IMAGESET_PATH}/topic_read_locked.gif"/><!-- ENDIF -->
				<!-- IF q.S_MODE == 1 --><img title="{L_UFAQ_MOD_PREMODERATION}" src="{T_IMAGESET_PATH}/topic_unread_locked_mine.gif"/><!-- ENDIF -->
				<!-- IF q.S_MODE == 0 --><!-- IF q.ANSWERS == 0 --><img src="{T_IMAGESET_PATH}/forum_read.gif"/><!-- ELSE --><img src="{T_IMAGESET_PATH}/forum_read_subforum.gif"/><!-- ENDIF --><!-- ENDIF -->
				</dd>
				<dt style="width: 35%;"><!-- IF SEARCH --><a class="topictitle" href="{q.U_CAT_URL}">{q.PARENT}</a><br /><!-- ENDIF --><a class="topictitle" href="{q.U_QUESTION}" title="{q.QUESTION_TEXT}">{q.SUBJ}</a><br />
				<span>
					<!-- IF q.QUESTOR_HIDENICK or q.QUESTOR_FAKENICK -->
						<!-- IF q.VIEW_RIGHTS -->
							({q.QUESTOR})
						<!-- ENDIF -->
						{q.QUESTOR_FAKENICK}
					<!-- ELSE -->
						{q.QUESTOR}
					<!-- ENDIF --> &raquo; {q.TIME}
				</span></dt>
				
				<!-- IF RATING_USE --><dd class="topics"><b style="color: <!-- IF q.RATING > 0 -->green<!-- ELSEIF q.RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF q.RATING > 0 -->+<!-- ENDIF -->{q.RATING}</b></dd><!-- ENDIF -->
				<dd class="views">{q.VIEWS}</dd>				
				<dd class="posts">{q.ANSWERS}</dd>		
				<dd class="lastpost" style="width: 25%;"><span><!-- IF q.ANSWERS == 0 -->{L_UFAQ_EMPTY_Q}<!-- ELSE --><!-- IF q.ANSWER_FAKENICK -->{q.ANSWER_FAKENICK} <!-- ELSE -->{q.ANSWER_USER} <!-- ENDIF -->
				<!-- IF not S_IS_BOT --><a href="{q.U_QUESTION}#{q.ANSWER_ID}" title="{q.ANSWER_TEXT}"><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/></a><!-- ELSE --><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/><!-- ENDIF -->
				<br />{q.ANSWER_TIME}<!-- ENDIF --></span></dd>
			</dl>
		</li>
<!-- BEGINELSE -->
		<li class="row bg1">
			<dl class="icon">
				<dt>{L_UFAQ_EMPTY_CAT}</dt>
			</dl>
		</li>
<!-- END q -->
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- IF PAGINATION -->
		<div class="pagination">
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and ( S_CAN_WATCH_CAT or S_CAN_UNWATCH_CAT ) -->
		<ul class="linklist">
			<li class="lefttside">
				<!-- IF S_CAN_WATCH_CAT -->
					<a href="{S_CAN_WATCH_CAT}" title="{L_UFAQ_CAT_WATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_subscribe.gif"/>{L_UFAQ_CAT_WATCH}<!-- IF PARENT --> "{PARENT}"<!-- ENDIF --></a>
				<!-- ENDIF -->
				<!-- IF S_CAN_UNWATCH_CAT -->
					<a href="{S_CAN_UNWATCH_CAT}" title="{L_UFAQ_CAT_UNWATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_unsubscribe.gif"/>{L_UFAQ_CAT_UNWATCH}</a>
				<!-- ENDIF -->
			</li>
		</ul>
	<!-- ENDIF -->
	
<!-- IF not S_IS_BOT and U_ADD_QUEST -->
	<div class="buttons"><div class="question-new-icon"><a href="{U_ADD_QUEST}" title="{L_UFAQ_ADD_QUEST}"><span></span>{L_UFAQ_ADD_QUEST}</a></div></div>
<!-- ENDIF -->

<!-- IF U_SORT_RATING -->
<div align="right">{S_CAN_QUEST}<br />{S_CAN_ANSWER}</div>
<!-- ENDIF -->

<!-- ELSEIF QUEST -->
<div id="page-body">
<h2>&nbsp;<a href="{U_LINK}">{QUEST}</a></h2>
</div>
	<div id="p1" class="post <!-- IF S_MODE != 1 -->bg2<!-- ELSE IF S_MODE == 1 -->ufaq_bg_mod<!-- ENDIF --><!-- IF S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody" id="p1">
				<!-- IF not S_IS_BOT -->
				<ul class="profile-icons">
					<!-- IF S_QUOTE and S_QUICK_REPLY -->
						<li class="quote-icon">
						<a href="#postform" onclick="if(!(window.getSelection && window.getSelection().toString() == '') && !(document.getSelection && document.getSelection() == '') && !(document.selection && document.selection.createRange().text == '')){dE('qr_editor_div', 1);addquote('p1','{POSTER_QUOTE}'); insert_text('\r\n'); return false; }" title="{L_REPLY_WITH_QUOTE}">
						<span>{L_REPLY_WITH_QUOTE}</span>
						</a>
						</li>
					<!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
						<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_UFAQ_EDIT}"><span>{L_UFAQ_EDIT}</span></a></li><!-- ENDIF -->
						<!-- IF U_DEL --><li class="delete-icon"><a href="{U_DEL}" title="{L_DELETE}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
					<!-- ENDIF -->
				</ul>
				<!-- ENDIF -->
			<p class="author"><!-- IF S_IS_BOT -->{MINI_POST_IMG}<!-- ELSE --><a href="{U_LINK}">{MINI_POST_IMG}</a><!-- ENDIF -->
			
			<!-- IF POSTER_HIDENICK or POSTER_FAKENICK -->
				<!-- IF VIEW_RIGHTS --> ( {USER} )<!-- ENDIF -->
				<strong> {POSTER_FAKENICK}</strong>
			<!-- ELSE -->
				<strong> {USER}</strong>
			<!-- ENDIF -->		
			 &raquo; {TIME} <!-- IF POSTER_IP -->&raquo; {L_IP}: {POSTER_IP}<!-- ENDIF --></p>
			<hr/>
			<div class="ufaq_content">
			<!-- IF S_MODE != 0 -->
			<table width="100%" cellspacing="0" border="0"> 
				<tr class="ufaq_ex_style"> 
					<!-- IF S_MODE == 9 -->
						<td class="ufaq_ex">X</td>
						<td class="ufaq_ex_2">				
						{L_UFAQ_MOD_CLOSED}
					<!-- ENDIF -->
					<!-- IF S_MODE == 1 -->
						<td class="ufaq_ex">M</td>
						<td class="ufaq_ex_2">				
						{L_UFAQ_MOD_PREMODERATION}
					<!-- ENDIF -->
					</td> 
				</tr> 
			</table><br />
			<!-- ENDIF -->
				<!-- IF S_MODE == 1 -->
				<span style="opacity: 0.4">
				<!-- ENDIF -->
				{Q_TEXT}
				<!-- IF S_MODE != 0 -->
				</span>
				<!-- ENDIF -->
			</div>
			<div class="signature">
				<ul class="profile-icons">
				<!-- IF not S_IS_BOT and RATING_USE -->				
					<li class="leftside"><b style="font-size: 1.5em; color: <!-- IF RATING > 0 -->green<!-- ELSEIF RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF RATING > 0 -->+<!-- ENDIF -->{RATING}</b></li>
					<!-- IF U_RATE_PLUS and S_USER_LOGGED_IN -->			
						<li class="plus-icon"><a href="{U_RATE_PLUS}" title="{L_UFAQ_RATE_Q}"><span>{L_UFAQ_RATE_Q}</span></a></li>
					<!-- ELSE -->
						<li class="plus-icon" style="opacity:0.4; background-position: 0 0%;"></li>	
					<!-- ENDIF -->
					<!-- IF U_RATE_MINUS and S_USER_LOGGED_IN -->	
						<li class="minus-icon"><a href="{U_RATE_MINUS}" title="{L_UFAQ_RATE_Q_MINUS}"><span>{L_UFAQ_RATE_Q_MINUS}</span></a></li>
					<!-- ELSE -->
						<li class="minus-icon" style="opacity:0.4; background-position: 0 0%;"></li>
					<!-- ENDIF -->
				<!-- ENDIF -->			
				</ul>
			</div>
		</div>
			<dl class="postprofile" id="profile1">
				<dt>
					<!-- IF AVATAR and not POSTER_FAKENICK --><a href="{U_USER}">{AVATAR}</a><br /><!-- ENDIF -->
					<strong>
			<!-- IF POSTER_FAKENICK or POSTER_HIDENICK -->
			<!-- IF VIEW_RIGHTS --> ( {USER} )<br /><!-- ENDIF -->
			<!-- ENDIF -->
			
			<!-- IF POSTER_FAKENICK -->
					<strong> {POSTER_FAKENICK}</strong>
			<!-- ELSE -->
				<strong> {USER}</strong>
			<!-- ENDIF -->
					</strong><br />
				</dt>
				<!-- IF not POSTER_FAKENICK -->
					<!-- IF RANK_TITLE or RANK_IMG --><dd>{RANK_TITLE}<!-- IF RANK_TITLE and RANK_IMG --><br /><!-- ENDIF -->{RANK_IMG}</dd><!-- ENDIF -->

					<dd>&nbsp;</dd>

					<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
					<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
					<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->
					<!-- IF not POSTER_WARNINGS eq 0 --><dd><strong>{L_WARNINGS}:</strong> {POSTER_WARNINGS}</dd><!-- ENDIF -->

					<!-- IF S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dd><strong>{PROFILE_FIELD1_NAME}:</strong> {PROFILE_FIELD1_VALUE}</dd>
					<!-- ENDIF -->

					<!-- BEGIN custom_fields -->
						<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
					<!-- END custom_fields -->
					
					<!-- IF not S_IS_BOT -->
					<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM -->
						<dd>
							<ul class="profile-icons">
								<!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
								<!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
								<!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
								<!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
								<!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
								<!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
								<!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
								<!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
					<!-- ENDIF -->
					<!-- ENDIF -->
				<!-- ENDIF -->
			</dl>
		<span class="corners-bottom"><span></span></span></div>
	</div>
		
	<!-- IF ADS_5 -->
	<div class="post bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="postbody" style="width: 100%;">
				<h3>{L_ADVERTISEMENT}</h3>
				<div style="font-size: 1.1em; margin: 0px auto; text-align: center;">
					{ADS_5}
				</div>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and ( U_WATCH or U_UNWATCH ) -->
		<ul class="linklist">
		<!-- IF S_MODE == 0 -->
			<li class="lefttside">
				<!-- IF U_WATCH -->
					<a href="{U_WATCH}" title="{L_UFAQ_WATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_subscribe.gif"/>{L_UFAQ_WATCH}</a>
				<!-- ENDIF -->
				<!-- IF U_UNWATCH -->
					<a href="{U_UNWATCH}" title="{L_UFAQ_UNWATCH}"><img src="{T_THEME_PATH}/images/icon_unsubscribe.gif"/>{L_UFAQ_UNWATCH}</a>
				<!-- ENDIF -->
			</li>
		<!-- ENDIF -->
			<!-- IF S_TOPIC_MOD -->
			<li class="rightside">
					<form method="post" action="{S_MOD_ACTION}">
					<fieldset class="profile-icons">
						<table><tr><td>{S_TOPIC_MOD} </td><td><div id="cat_selector" style="display: none;">&nbsp;&nbsp;{L_FROM}: '<strong>{FORUM_NAME}</strong>'&nbsp;&nbsp;{L_UFAQ_IN}: {S_CAT_MOD} </div></td><td><input type="submit" value="{L_SUBMIT}" class="button2" /></td></tr></table>
						{S_FORM_TOKEN}
					</fieldset>
					</form>&nbsp;&nbsp;&nbsp;
			</li>
			<!-- ENDIF -->


		</ul>
	<!-- ENDIF -->
				
<!-- IF .answers -->
	<h2>{L_UFAQ_ANSWERS_V} ( {COUNT} ):</h2>
<!-- BEGIN answers -->
	<table><tr width="98%"><td valign="top" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td width="99%">
	<div id="post{answers.ID}" class="post <!-- IF answers.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="ufaqbody">
				<ul class="profile-icons">
				<!-- IF not S_IS_BOT and RATING_USE -->				
					<li class="rightside"><b style="color: <!-- IF answers.RATING > 0 -->green<!-- ELSEIF answers.RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF answers.RATING > 0 -->+<!-- ENDIF -->{answers.RATING}</b></li>
					<!-- IF answers.U_RATE_PLUS and S_USER_LOGGED_IN -->			
						<li class="plus-icon"><a href="{answers.U_RATE_PLUS}" title="{L_UFAQ_RATE_A}"><span>{L_UFAQ_RATE_A}</span></a></li>						
					<!-- ELSE -->
						<li class="plus-icon" style="opacity:0.4; background-position: 0 0%;"></li>	
					<!-- ENDIF -->
					<!-- IF answers.U_RATE_MINUS and S_USER_LOGGED_IN -->	
						<li class="minus-icon"><a href="{answers.U_RATE_MINUS}" title="{L_UFAQ_RATE_A_MINUS}"><span>{L_UFAQ_RATE_A_MINUS}</span></a></li>						
					<!-- ELSE -->
						<li class="minus-icon" style="opacity:0.4; background-position: 0 0%;"></li>
					<!-- ENDIF -->
						<li>&nbsp;&nbsp;&nbsp;</li>
				<!-- ENDIF -->
				
				<!-- IF not S_IS_BOT -->
					<!-- IF answers.S_QUOTE and answers.S_QUICK_REPLY -->
						<li class="quote-icon">
							<a href="#postform" onclick="if(!(window.getSelection && window.getSelection().toString() == '') && !(document.getSelection && document.getSelection() == '') && !(document.selection && document.selection.createRange().text == '')){dE('qr_editor_div', 1);addquote('post{answers.ID}','{answers.POSTER_QUOTE}'); insert_text('\r\n'); return false; }else{ insert_text('[quote={answers.POSTER_QUOTE}]...[/quote]\r\n'); return false;}" title="{L_REPLY_WITH_QUOTE}">
							<span>{L_REPLY_WITH_QUOTE}</span>
							</a>
						</li>
					<!-- ENDIF -->
						<!-- IF S_USER_LOGGED_IN -->
						<!-- IF answers.U_EDIT --><li class="edit-icon"><a href="{answers.U_EDIT}" title="{L_UFAQ_EDIT}"><span>{L_UFAQ_EDIT}</span></a></li><!-- ENDIF -->
						<!-- IF answers.U_DEL --><li class="delete-icon"><a href="{answers.U_DEL}" title="{L_DELETE}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
					<!-- ENDIF -->
				<!-- ENDIF -->
				</ul>

			<p class="author">
			<!-- IF S_IS_BOT -->{answers.MINI_POST_IMG}<!-- ELSE --><a name="{answers.ID}" href="{answers.U_LINK}#{answers.ID}">{answers.MINI_POST_IMG}</a><!-- ENDIF -->
			<!-- IF answers.AVATAR && not answers.POSTER_HIDENICK --><a href="{answers.U_USER}"><span class="ufaq2">{answers.AVATAR}</span></a> <!-- ENDIF -->
			
			<!-- IF answers.POSTER_HIDENICK or answers.POSTER_FAKENICK -->
			<!-- IF answers.VIEW_RIGHTS --> ( {answers.USER} )<!-- ENDIF -->
			<!-- ENDIF -->
			
			<!-- IF answers.POSTER_HIDENICK -->
				<!-- IF answers.POSTER_FAKENICK -->
					{answers.POSTER_FAKENICK}
				<!-- ELSE -->
					<!-- IF answers.S_QUICK_REPLY and answers.S_QUOTE --><a href="#postform" onclick="dE('qr_editor_div', 1); insert_text('[b]{answers.POSTER_QUOTE}[/b]'); return false;" <!-- IF answers.POST_AUTHOR_COLOUR --> style="color: {answers.POST_AUTHOR_COLOUR}" <!-- ENDIF -->><strong> {answers.POSTER_QUOTE}</strong></a><!-- ELSE --> {answers.USER}<!-- ENDIF -->
				<!-- ENDIF -->
			<!-- ELSE -->
				<!-- IF answers.S_QUICK_REPLY and answers.S_QUOTE --><a href="#postform" onclick="dE('qr_editor_div', 1); insert_text('[b]{answers.POSTER_QUOTE}[/b]'); return false;" <!-- IF answers.POST_AUTHOR_COLOUR --> style="color: {answers.POST_AUTHOR_COLOUR}" <!-- ENDIF -->><strong> {answers.POSTER_QUOTE}</strong></a><!-- ELSE --> {answers.USER}<!-- ENDIF -->
			<!-- ENDIF -->

			&raquo; {answers.TIME} <!-- IF answers.POSTER_IP -->&raquo; {L_IP}: {answers.POSTER_IP}<!-- ENDIF -->
			</p>
			<hr/>

			<div id="{answers.ID}" class="ufaq_answer_content" <!-- IF answers.COLOR != 0 -->style="opacity: {answers.COLOR}" onMouseOut="document.getElementById('{answers.ID}').style.opacity='{answers.COLOR}';" onMouseOver="document.getElementById('{answers.ID}').style.opacity='1';" <!-- ENDIF -->>
			<!-- IF answers.COLOR == 230 --><span style="opacity: {answers.COLOR}"><!-- ENDIF -->
			{answers.TEXT}
			<!-- IF answers.COLOR == 0 --></span><!-- ENDIF -->
			</div>

		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	<td valign="top" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</td></tr></table>
	<hr class="divider" />
<!-- END answers -->

	<tr><td class="cat" colspan="2">&nbsp;</td></tr>
	</table>
<!-- ELSE -->
		<div class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
			{L_UFAQ_EMPTY_Q}
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ENDIF -->

	<!-- IF S_MODE == 0 -->
		<!-- IF not S_IS_BOT and REPLY -->
			<br clear="all" />
			<!-- IF REPLY -->
			<!--
			<div class="buttons"><div class="question-reply-icon"><a href="#" onclick="getElementById('answer').style.display=''; this.style.display='none'; return false;" title="{L_UFAQ_ADD_ANSWER}"><span></span>{L_UFAQ_ADD_ANSWER}</a></div></div>
			-->
			<div id="answer" style="<!--display: none;--> padding-top: 4px;">
				<!-- INCLUDE ufaq_post.html -->
			</div>
			<!-- ENDIF -->
			<!--
			<br clear="all" />
			-->
		<!-- ENDIF -->
	<!-- ENDIF -->
	
<div align="right">{S_CAN_QUEST}<br />{S_CAN_ANSWER}</div>
<!-- ELSEIF ADD_QUEST -->
	<!-- INCLUDE ufaq_post.html -->
<!-- ELSE -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		{L_NO_MODE}
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- ELSE -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		<center><strong>{L_UFAQ}</strong><br /><br />{L_UFAQ_DISABLED}</center>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

	</td>
	</tr></table>

<br clear="all" />
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->
<!-- IF UFAQ_ENABLE -->
	<h3>{L_STATISTICS}</h3>
	<p>	{L_UFAQ_CATS_COUNT}: <strong>{UFAQ_CATS_COUNT}</strong> &bull; {L_UFAQ_COUNT}: <strong>{UFAQ_QUESTIONS_COUNT}</strong> &bull; {L_UFAQ_ANSWERS}: <strong>{UFAQ_ANSWERS_COUNT}</strong></p>
<!-- ENDIF -->
	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<table width="100%"><tr width="100%">
		<td align="left" width="1%">
			<div class="back2top" style="align:left;"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
		</td>
		<td width="39%">&nbsp;</td>
		<td align="center" width="20%">
			<div class="copyright">Powered by <a href="http://www.phpbbstyle.ru/">phpBBstyle</a></div>
		</td>
		<td width="40%">
		&nbsp;
		</td>
		</tr></table>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- INCLUDE overall_footer.html -->