<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p>[<!-- IF U_ACP -->&nbsp;<a href="{U_ACP}" target="_blank">{L_ACP}</a>,&nbsp;<!-- ENDIF -->&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

<!-- IF UFAQ_ENABLE -->

<!-- IF S_INDEX -->
<br clear="all" />
		<ul class="linklist">
			<li class="rlefttside">&nbsp;<a href="{U_FSEARCH_TOP}">{L_UFAQ_SEARCH_TOP}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_NEW}">{L_UFAQ_SEARCH_NEW}</a></li>
		</ul>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt style="width: 50%;">{L_UFAQ_CAT}</dt>
						<dd class="topics">{L_UFAQ_COUNT}</dd>
						<dd class="lastpost" style="width: 30%;"><span>{L_UFAQ_LAST_Q}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
<!-- BEGIN cats -->
		<li class="row">
			<dl>
				<dt style="width: 50%;"><!-- IF cats.CAT_IMG --><div style="float: left; padding-right: 5px;"><img src="{cats.CAT_IMG}" alt="{cats.TITLE}" /></div><!-- ENDIF --><a class="forumtitle" href="{cats.U_CAT}">{cats.TITLE}</a></dt>
					<dd class="topics">{cats.COUNT}</dd>
					<dd class="lastpost" style="width: 30%;"><span><!-- IF cats.LAST_Q --><a href="{cats.U_LAST_Q}" title="{cats.QUESTION_TEXT}">{cats.LAST_Q}</a>
					(Ответов: {cats.ANSWERS} 
					<!-- IF cats.ANSWERS >= 0 -->
						<!-- IF not S_IS_BOT --><a href="{cats.U_LAST_Q}#{cats.ANSWER_ID}" title="{cats.ANSWER_TEXT}">{MINI_POST_IMG}</a><!-- ELSE -->{MINI_POST_IMG}<!-- ENDIF -->
					<!-- ENDIF -->)<br>
					<span>{cats.QUESTER_USER} &raquo; {cats.QUESTER_TIME}</span><!-- ELSE -->{L_UFAQ_EMPTY_CAT}<!-- ENDIF --></span></dd>
			</dl>
		</li>
<!-- BEGINELSE -->
		<li class="row">
			<dl class="icon">
				<dt>{L_UFAQ_EMPTY_CAT}</dt>
			</dl>
		</li>
<!-- END cats -->
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ELSEIF S_LIST_Q -->
<br clear="all" />
<!-- IF not S_IS_BOT -->
		<div class="search-box">
			<form method="post" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny"  type="text" name="search" size="30" value="<!-- IF HIDDEN -->{HIDDEN}<!-- ELSE -->{L_SEARCH}<!-- ENDIF -->"<!-- IF not HIDDEN --> onclick="if(this.value=='{L_SEARCH}')this.value='';" onblur="if(this.value=='')this.value='{L_SEARCH}';"<!-- ENDIF --> />
				<input class="button2" type="submit" value="{L_SEARCH}" />
			</fieldset>
			</form>
		</div>
<!-- ENDIF -->

		<ul class="linklist">
			<li class="leftside">&nbsp;<a href="{U_FSEARCH_TOP}">{L_UFAQ_SEARCH_TOP}</a>&nbsp;&bull;&nbsp;<a href="{U_FSEARCH_NEW}">{L_UFAQ_SEARCH_NEW}</a></li>
			<li class="rightside">
				<div class="pagination">		
					<!-- IF PAGE_NUMBER > 0 --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
				</div>			
			</li>
		</ul>

		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt><!-- IF CAT_IMG --><span class="ufaq"><img src="{CAT_IMG}"/></span>&nbsp;&raquo;&nbsp;<!-- ENDIF --><!-- IF PARENT -->{PARENT}<!-- ELSE --><!-- IF SEARCH -->{L_UFAQ_CAT} &raquo; <!-- ENDIF -->{L_UFAQ_NAME}<!-- ENDIF --></dt>
						<!-- IF RATING_USE --><dd class="topics"><!-- IF U_SORT_RATING --><a href="{U_SORT_RATING}"><!-- ENDIF -->{L_UFAQ_RATING}<!-- IF U_SORT_RATING --></a><!-- ENDIF --></dd><!-- ENDIF -->
						<dd class="views">{L_UFAQ_VIEWS}</dd>
						<dd class="posts"><!-- IF U_SORT_ANSWERS --><a href="{U_SORT_ANSWERS}"><!-- ENDIF -->{L_UFAQ_ANSWERS}<!-- IF U_SORT_ANSWERS --></a><!-- ENDIF --></dd>
						<dd class="lastpost" style="width: 22%;"><span>{L_UFAQ_LAST_A}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
<!-- BEGIN q -->
		<li class="row<!-- IF q.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt><!-- IF SEARCH --><a class="topictitle" href="{q.U_CAT_URL}">{q.PARENT}</a> &raquo; <!-- ENDIF --><a class="topictitle" href="{q.U_QUESTION}" title="{q.QUESTION_TEXT}">{q.SUBJ}</a><br /><span>{q.QUESTOR} &raquo; {q.TIME}</span></dt>
				<!-- IF RATING_USE --><dd class="topics"><b style="color: <!-- IF q.RATING > 0 -->green<!-- ELSEIF q.RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF q.RATING > 0 -->+<!-- ENDIF -->{q.RATING}</b></dd><!-- ENDIF -->
				<dd class="views">{q.VIEWS}</dd>				
				<dd class="posts">{q.ANSWERS}</dd>
				<dd class="lastpost" style="width: 22%;"><span><!-- IF q.ANSWERS == 0 -->{L_UFAQ_EMPTY_Q}<!-- ELSE -->{q.ANSWER_USER}
				<!-- IF not S_IS_BOT --><a href="{q.U_QUESTION}#{q.ANSWER_ID}" title="{q.ANSWER_TEXT}"><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/></a><!-- ELSE --><img src="{T_IMAGESET_PATH}/icon_topic_latest.gif"/><!-- ENDIF -->
				<br />{q.ANSWER_TIME}<!-- ENDIF --></span></dd>
			</dl>
		</li>
<!-- BEGINELSE -->
		<li class="row bg1">
			<dl class="icon">
				<dt>{L_UFAQ_EMPTY_CAT}</dt>
			</dl>
		</li>
<!-- END q -->
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- IF PAGINATION -->
		<div class="pagination">
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and ( S_CAN_WATCH_CAT or S_CAN_UNWATCH_CAT ) -->
		<ul class="linklist">
			<li class="lefttside">
				<!-- IF S_CAN_WATCH_CAT -->
					<a href="{S_CAN_WATCH_CAT}" title="{L_UFAQ_CAT_WATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_subscribe.gif"/>{L_UFAQ_CAT_WATCH}<!-- IF PARENT --> "{PARENT}"<!-- ENDIF --></a>
				<!-- ENDIF -->
				<!-- IF S_CAN_UNWATCH_CAT -->
					<a href="{S_CAN_UNWATCH_CAT}" title="{L_UFAQ_CAT_UNWATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_unsubscribe.gif"/>{L_UFAQ_CAT_UNWATCH}</a>
				<!-- ENDIF -->
			</li>
		</ul>
	<!-- ENDIF -->
	
<!-- IF not S_IS_BOT and U_ADD_QUEST -->
	<div class="buttons"><div class="question-new-icon"><a href="{U_ADD_QUEST}" title="{L_UFAQ_ADD_QUEST}"><span></span>{L_UFAQ_ADD_QUEST}</a></div></div>
<!-- ENDIF -->

<!-- IF U_SORT_RATING -->
<div align="right">{S_CAN_QUEST}<br />{S_CAN_ANSWER}</div>
<!-- ENDIF -->

<!-- ELSEIF QUEST -->
<div id="page-body">
<h2>&nbsp;<a href="{U_LINK}">{QUEST}</a></h2>
</div>
	<div id="p1" class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody">
				<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
				<ul class="profile-icons">
					<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_UFAQ_EDIT}"><span>{L_UFAQ_EDIT}</span></a></li><!-- ENDIF -->
					<!-- IF U_DEL --><li class="delete-icon"><a href="{U_DEL}" title="{L_DELETE}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
				</ul><!-- ENDIF -->
			<p class="author"><!-- IF S_IS_BOT -->{MINI_POST_IMG}<!-- ELSE --><a href="{U_LINK}">{MINI_POST_IMG}</a><!-- ENDIF --> {USER} &raquo; {TIME}</p>
			<hr/>
			<div class="content">{Q_TEXT}</div>
			
			<div class="signature">
				<ul class="linklist">
				<!-- IF not S_IS_BOT and RATING_USE -->				
					<li class="leftside"><span style="font-size: 16px"><b style="color: <!-- IF RATING > 0 -->green<!-- ELSEIF RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF RATING > 0 -->+<!-- ENDIF -->{RATING}</b></span></li>
					<!-- IF U_RATE_PLUS and S_USER_LOGGED_IN -->			
						<li class="leftside"><a href="{U_RATE_PLUS}" title="{L_UFAQ_RATE_Q}"><img src="{T_THEME_PATH}/images/icon_rate_plus.gif"/></a></li>
					<!-- ELSE -->
						<li class="leftside"><img src="{T_THEME_PATH}/images/icon_rate_plus_off.gif"/></li>
					<!-- ENDIF -->
					<!-- IF U_RATE_MINUS and S_USER_LOGGED_IN -->	
						<li class="leftside"><a href="{U_RATE_MINUS}" title="{L_UFAQ_RATE_Q_MINUS}"><img src="{T_THEME_PATH}/images/icon_rate_minus.gif"/></a></li>
					<!-- ELSE -->
						<li class="leftside"><img src="{T_THEME_PATH}/images/icon_rate_minus_off.gif"/></li>
					<!-- ENDIF -->
				<!-- ENDIF -->			
				</ul>
			</div>
		</div>
			<dl class="postprofile" id="profile1">
				<dt>
					<!-- IF AVATAR --><a href="{U_USER}">{AVATAR}</a><br /><!-- ENDIF -->
					<strong>{USER}</strong><br />
				</dt>
			
					<!-- IF RANK_TITLE or RANK_IMG --><dd>{RANK_TITLE}<!-- IF RANK_TITLE and RANK_IMG --><br /><!-- ENDIF -->{RANK_IMG}</dd><!-- ENDIF -->

					<dd>&nbsp;</dd>

					<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
					<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
					<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->

					<!-- IF S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dd><strong>{PROFILE_FIELD1_NAME}:</strong> {PROFILE_FIELD1_VALUE}</dd>
					<!-- ENDIF -->

					<!-- BEGIN custom_fields -->
						<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
					<!-- END custom_fields -->
					
					<!-- IF not S_IS_BOT -->
					<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM -->
						<dd>
							<ul class="profile-icons">
								<!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
								<!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
								<!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
								<!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
								<!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
								<!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
								<!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
								<!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
					<!-- ENDIF -->
					<!-- ENDIF -->
			</dl>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF ADS_5 -->
	<div class="post bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="postbody" style="width: 100%;">
				<h3>{L_ADVERTISEMENT}</h3>
				<div style="font-size: 1.1em; margin: 0px auto; text-align: center;">
					{ADS_5}
				</div>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and ( U_WATCH or U_UNWATCH ) -->
		<ul class="linklist">
			<li class="lefttside">
				<!-- IF U_WATCH -->
					<a href="{U_WATCH}" title="{L_UFAQ_WATCH_EXP}"><img src="{T_THEME_PATH}/images/icon_subscribe.gif"/>{L_UFAQ_WATCH}</a>
				<!-- ENDIF -->
				<!-- IF U_UNWATCH -->
					<a href="{U_UNWATCH}" title="{L_UFAQ_UNWATCH}"><img src="{T_THEME_PATH}/images/icon_unsubscribe.gif"/>{L_UFAQ_UNWATCH}</a>
				<!-- ENDIF -->
			</li>
		</ul>
	<!-- ENDIF -->
				
<!-- IF .answers -->
	<h2>{L_UFAQ_ANSWERS_V} ( {COUNT} ):</h2>
<!-- BEGIN answers -->
	<table><tr width="98%"><td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td width="99%">
	<div id="p1" class="post <!-- IF answers.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="ufaqbody">
				<ul class="profile-icons">
				<!-- IF not S_IS_BOT and RATING_USE -->				
					<li class="rightside"><b style="color: <!-- IF answers.RATING > 0 -->green<!-- ELSEIF answers.RATING < 0 -->red<!-- ELSE -->gray<!-- ENDIF -->;"><!-- IF answers.RATING > 0 -->+<!-- ENDIF -->{answers.RATING}</b></li>
					<!-- IF answers.U_RATE_PLUS and S_USER_LOGGED_IN -->			
						<li class="rightside"><a href="{answers.U_RATE_PLUS}" title="{L_UFAQ_RATE_A}"><img src="{T_THEME_PATH}/images/icon_rate_plus.gif"/></a></li>
					<!-- ELSE -->
						<li class="rightside"><img src="{T_THEME_PATH}/images/icon_rate_plus_off.gif"/></li>
					<!-- ENDIF -->
					<!-- IF answers.U_RATE_MINUS and S_USER_LOGGED_IN -->	
						<li class="rightside"><a href="{answers.U_RATE_MINUS}" title="{L_UFAQ_RATE_A_MINUS}"><img src="{T_THEME_PATH}/images/icon_rate_minus.gif"/></a></li>
					<!-- ELSE -->
						<li class="rightside"><img src="{T_THEME_PATH}/images/icon_rate_minus_off.gif"/></li>
					<!-- ENDIF -->
				<!-- ENDIF -->
				
				<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
					<!-- IF answers.U_EDIT --><li class="edit-icon"><a href="{answers.U_EDIT}" title="{L_UFAQ_EDIT}"><span>{L_UFAQ_EDIT}</span></a></li><!-- ENDIF -->
					<!-- IF answers.U_DEL --><li class="delete-icon"><a href="{answers.U_DEL}" title="{L_DELETE}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
				<!-- ENDIF -->					
				</ul>

			<p class="author">
			<!-- IF S_IS_BOT -->{answers.MINI_POST_IMG}<!-- ELSE --><a name="{answers.ID}" href="{answers.U_LINK}#{answers.ID}">{answers.MINI_POST_IMG}</a><!-- ENDIF -->
			<!-- IF answers.AVATAR --><a href="{answers.U_USER}"><span class="ufaq2">{answers.AVATAR}</span></a> <!-- ENDIF -->
			{answers.USER} &raquo; {answers.TIME}</p>
			<hr/>

			<div class="content">{answers.TEXT}</div>

		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	</td></tr></table>
	<hr class="divider" />
<!-- END answers -->

	<tr><td class="cat" colspan="2">&nbsp;</td></tr>
	</table>
<!-- ELSE -->
		<div class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
			{L_UFAQ_EMPTY_Q}
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ENDIF -->

	<!-- IF not S_IS_BOT and REPLY -->
		<br clear="all" />
		<!-- IF REPLY --><div class="buttons"><div class="question-reply-icon"><a href="#" onclick="getElementById('answer').style.display=''; this.style.display='none'; return false;" title="{L_UFAQ_ADD_ANSWER}"><span></span>{L_UFAQ_ADD_ANSWER}</a></div></div>
		<div id="answer" style="display: none; padding-top: 4px;"><!-- INCLUDE ufaq_post.html --></div>
		<!-- ENDIF -->
		<br clear="all" />
	<!-- ENDIF -->

	<div align="right">{S_CAN_QUEST}<br />{S_CAN_ANSWER}</div>
<!-- ELSEIF ADD_QUEST -->
	<!-- INCLUDE ufaq_post.html -->
<!-- ELSE -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		{L_NO_MODE}
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- ELSE -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		<center>{L_UFAQ}<br /><br />{L_UFAQ_DISABLED}</center>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
<br clear="all" />
<div class="copyright">Powered by <a href="http://www.phpbbstyle.ru/">phpBBstyle</a></div>

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->