/* Supernova (Blue) CSS Information origianlly by Christian Bullock (http://www.ChristianBullock.com)
---------------------------------------- */

#dummy-element {width: 2px;}

.fakecheck {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	outline: none;
	background: url("{T_THEME_PATH}/images/blue/checkbox.png") no-repeat;
	height: 16px;
	display: block;
	float: left;
	padding: 1px 0px 0px 20px;
}

.fakechecked {
	background-position: left -25px;
}

div.mini-profile {
	background: transparent url("{T_THEME_PATH}/images/blue/mini-profile-r.png") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 52px;
	padding-right: 6px;
	text-decoration: none;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 21px;
	color: #FFFFFF;
}

div.mini-profile .mini-profile-inner {
	background: transparent url("{T_THEME_PATH}/images/blue/mini-profile-l.png") no-repeat; 
	display: block;
	padding-left: 7px;
	padding-right: 5px;
	padding-top: 8px;
	height: 44px;
	text-align: left;
}

div.mini-profile img {
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 3px;
}

.member-icon {
	width: 32px;
	height: 30px;
	background: url("{T_THEME_PATH}/images/blue/member-icon.png") no-repeat;
	float: left;
	margin-right: 8px;
}

div.colour-block {
	background: transparent url("{T_THEME_PATH}/images/colour_block_right.png") no-repeat scroll top right; 
	float: right;
	height: 18px;
	padding-right: 7px;
	margin-top: 1px;
	margin-left: 5px;
	line-height: 18px;
}

div.colour-block span {
	background: transparent url("{T_THEME_PATH}/images/colour_block_left.png") no-repeat; 
	display: block;
	padding-top: 2px;	
	padding-left: 24px;
	height: 18px;
}

div.colour-block span a {outline: none;}

img.colour-block {
	margin-right: 0px !important;
}

.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url("{T_THEME_PATH}/images/tipsy.gif"); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

div.cat-name {
	background: transparent url("{T_THEME_PATH}/images/blue/cat-name-r.png") no-repeat scroll top right; 
	float: left;
	height: 21px;
	padding-right: 6px;
	margin-left: 4px;
	line-height: 21px;
}

div.cat-name span {
	background: transparent url("{T_THEME_PATH}/images/blue/cat-name-l.png") no-repeat; 
	display: block;
	padding-left: 6px;
	height: 21px;
	letter-spacing: -1px;
}

div.cat-name span, div.cat-name span a {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #096fb5;
	text-shadow: none;
}

li.row {border-bottom: none;}

.postbody h3 {
	color: #115098;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: -0.4px;
}

h3.first {
	font-size: 16px !important;
}

#search-box input {border: 1px solid #b0b0b0;}